.header {
  color: #898989;
}

.todo-item {
  padding: 10px;
  border-bottom: 1px solid hsl(0, 0%, 54%);
  display: table;
}

.todo-item p {
  display: inline;
}

.product-container {
  border: 1px solid #000;
  display: table;
  margin: 10px;
  text-align: center;
}
